/* *{
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
} */
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Robot',sans-serif;
  padding: 5px;
}
.Calculator{
  background: rgb(141, 138, 138);
  width:20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
}

  
